<ion-header>
  <ion-toolbar>
    <ion-title>badge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-label>문자</ion-label>
      <ion-badge>1k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>카카오</ion-label>
      <ion-badge color="light">1000</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>페이스북</ion-label>
      <ion-badge color="warning">1000</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>텀블러</ion-label>
      <ion-badge color="danger">1000</ion-badge>
    </ion-item>
    <ion-button>
      <ion-icon name="notifications"></ion-icon>
      <ion-badge color="accent">30</ion-badge>
    </ion-button>
</ion-content>
